/.project
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/*.jpx
/logs/
/bin/
.cache
.classpath
.ensime
.ensime_cache
native
/target/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.bak
idea.vmoptions
graphdb-free/graphdb
